@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-style: italic;
}

* {
    font-family: 'Readex Pro', sans-serif;
}

.primary-title {
    font-size: 90px;
    color: rgb(242, 242, 242);
}

.primary-button {
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 21px;
    /* background: linear-gradient(120deg, #edf756, #ffa8B6, #9df9ef); */
    background: linear-gradient(60deg, rgb(231, 205, 163),
     rgb(58, 100, 137), rgb(201, 162, 153));
    padding: 16px 24px;
    border-radius: 30px;
    border: none;
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;

   
  
  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );    
  background-image: -o-linear-gradient(
    0 0,
    rgb(231, 205, 163) 0%,
    rgb(58, 100, 137) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  /* background-image: linear-gradient(
    0 0,
    rgb(58, 100, 137)) 0%,
    rgb(201, 162, 153) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgb(231, 205, 163) 50%,
  );
   */
  -moz-background-size: 250% 250%, 100% 100%;
       background-size: 250% 311%, 100% 100%;
  
  -webkit-transition: background-position 0s ease;
     -moz-transition: background-position 0s ease;       
       -o-transition: background-position 0s ease;
          transition: background-position 0s ease;

     /*shake account button*/
     transform: translate3d(0, 0, 0);
     backface-visibility: hidden;
     animation-duration: 5s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;


}
@keyframes primary-button{
    2%, 18% {
        transform: translate3d(-5px, 0, 0);
    }

    4%, 16% {
        transform: translate3d(5px, 0, 0);
    }

    6%, 10%, 14% {
        transform: translate3d(-5px, 0, 0);
    }

    8%, 12% {
        transform: translate3d(5px, 0, 0);
    }
    
    18.1% {
        transform: translate3d(0px, 0, 0);
    }
}

.primary-button:hover {
    background: linear-gradient(42deg, rgb(48, 100, 145), rgb(184, 137, 125));
    background-position: 0 0, 0 0;
  
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
  
/* adding keyframe bounce effect for submit button*/
@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

.secondary-button {
    color: rgb(254, 246, 246);
    background: linear-gradient(60deg, rgb(231, 205, 163),
     rgb(58, 100, 137), rgb(201, 162, 153));
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(251, 248, 248);
    margin: 6px;
    transition: 0.5s;
}

.secondary-button:hover {
    color: rgb(246, 244, 244);
    border: solid 1px rgb(243, 236, 164);
    animation: bounce 1s;

}

.loader {
    position:center;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*-------- Navbar --------*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-button {
    color: white;
    background: linear-gradient(42deg, rgb(213, 156, 77), rgb(35, 81, 121), rgb(170, 124, 112));
    font-size: 22px;
    padding: 15px 30px;
    height: fit-content;
    border-radius: 30px;
    border: none;
    margin: 34px;
    transition: 0.5s;
}

nav .nav-button:hover {
    background-color: rgb(181, 180, 180);
    color: white;
    transform: scale(1.2);
}

nav .logo-container {
    width: 170px;
}

nav .logo-container .logo {
    width: 300px;
    height: 100px;
    object-fit: cover;
}

/*-------- Home page --------*/

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('https://cdn.pixabay.com/photo/2017/07/31/23/50/people-2562102_1280.jpg')
}

.home {
    margin-top: 30vh;
}

/*-------- Auth Modal --------*/
.auth-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 165px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 448px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 40px;
}

.auth-modal .close-icon {
    float: right;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
    padding: 8px;
    margin: 8px;
    border-radius: 30px;
    font-size: 17px;
}

/*-------- OnBoarding Page --------*/
.onboarding {
    width: 100vw;
    height: 100vh;
    /* position: fixed; */
    background-position: center;
    background-size: cover;
    background-image: url('https://pin.it/2KiaVuC');
    border-top: solid 1px rgb(201, 162, 153);
}

.onboarding form {
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(58, 100, 137);
    border-radius: 10px;
}

.onboarding form label {
    margin: 10px 0;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
/* CSS */
      padding: 0.6em 2em;
      border: none;
      outline: none;
      color: rgb(255, 255, 255);
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button :before {
      content: "";
      background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing-button-85 20s linear infinite;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }
    
    @keyframes glowing-button-85 {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    
    .onboarding form input::-webkit-outer-spin-button,
    .onboarding form input::-webkit-inner-spin-button:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #222;
      left: 0;
      top: 0;
      border-radius: 10px;
    
  
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(201, 162, 153);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form input[type=radio] {
    display: none;
}

/* .onboarding form input[type=number] {
    width: 10%;
} */

.onboarding form input[type=radio]:checked + label {
    border: solid 2px rgb(58, 100, 137);
}

.onboarding form input[type=submit]:hover {
    background-color: rgb(231, 205, 163);
}

.onboarding form input[type=submit]:active {
    background-color: rgb(201, 162, 153);
}

.onboarding form .photo-container img {
    width: 100%
}

/*-------- Dashboard  --------*/
.dashboard {
    display: flex;
    justify-content: space-between;
}

.dashboard .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe {
    position: absolute;
}

.dashboard .card-container {
    width: 400px;
    height: 650px;
}

.card {
    width: 400px;
    height: 650px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.card h3 {
    margin-top: 0;
}

.dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}
.button-20 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  max-width: fit-content;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-20:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-20:main,
.button-20:focus {
  user-select: auto;
}

.button-20:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-20:disabled {
  cursor: auto;
}

/*-------- Chat Container --------*/
.chat-container {
    background-color: rgb(58, 100, 137);
    box-shadow: rgb(201, 162, 153) 0px 6px 24px 0px,
    rgb(231, 205, 163) 0px 0px 0px 1px;
    width: 30%;
    text-align: left;
    z-index: 1;
}

.chat-container .chat-container-header {
    background: linear-gradient(45deg, rgb(231, 205, 163), rgb(58, 100, 137));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-container .option {
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 4px rgb(58, 100, 137);
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}

.chat-container .option:disabled {
    border-bottom: solid 4px rgb(231, 205, 163);
}

.chat-container .profile,
.chat-container .log-out-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(58, 100, 137);
}

.img-container {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.img-container img {
    width: 100%;
}

/*-------- Chat Display --------*/
.chat-display,
.matches-display {
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
}

/*-------- Chat Input --------*/
.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;
}















































