@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-style: italic;
}

* {
    font-family: 'Readex Pro', sans-serif;
}

.primary-title {
    font-size: 90px;
    color: rgb(58, 100, 137);
}

.primary-button {
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 21px;
<<<<<<< HEAD
    background: linear-gradient(120deg, rgb(231, 205, 163),rgb(58, 100, 137),
     rgb(201, 162, 153));
=======
    /* background: linear-gradient(120deg, #edf756, #ffa8B6, #9df9ef); */
    background: linear-gradient(60deg, rgb(231, 205, 163),
     rgb(58, 100, 137), rgb(201, 162, 153));
>>>>>>> 53295f931a0e69eaa35589cc9c41ce7f6de13118
    padding: 16px 24px;
    border-radius: 30px;
    border: none;
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;

   
  
  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );    
  background-image: -o-linear-gradient(
    0 0,
    rgb(231, 205, 163) 0%,
    rgb(58, 100, 137) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgb(58, 100, 137)) 0%,
    rgb(201, 162, 153) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgb(231, 205, 163) 50%,
  );
  
  -moz-background-size: 250% 250%, 100% 100%;
       background-size: 250% 311%, 100% 100%;
  
  -webkit-transition: background-position 0s ease;
     -moz-transition: background-position 0s ease;       
       -o-transition: background-position 0s ease;
          transition: background-position 0s ease;
<<<<<<< HEAD
};
=======

     /*shake account button*/
     transform: translate3d(0, 0, 0);
     backface-visibility: hidden;
     animation-duration: 5s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;


}
@keyframes primary-button{
    2%, 18% {
        transform: translate3d(-5px, 0, 0);
    }

    4%, 16% {
        transform: translate3d(5px, 0, 0);
    }

    6%, 10%, 14% {
        transform: translate3d(-5px, 0, 0);
    }
>>>>>>> 53295f931a0e69eaa35589cc9c41ce7f6de13118

    8%, 12% {
        transform: translate3d(5px, 0, 0);
    }
    
    18.1% {
        transform: translate3d(0px, 0, 0);
    }
}

.primary-button:hover {
<<<<<<< HEAD
    background: linear-gradient(120deg, rgb(58, 100, 137),
    white);
=======
    background: linear-gradient(42deg, rgb(48, 100, 145), rgb(184, 137, 125));
>>>>>>> 53295f931a0e69eaa35589cc9c41ce7f6de13118
    background-position: 0 0, 0 0;
  
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
  


.secondary-button {
    color: rgb(231, 205, 163);
    background-color: rgb(201, 162, 153);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(58, 100, 137);
    margin: 6px;
}

.secondary-button:hover {
    color: rgb(201, 162, 153);
    border: solid 2px rgb(58, 100, 137);
}


/*-------- Navbar --------*/

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-button {
<<<<<<< HEAD
    color: rgb(231, 205, 163);
    background-color: rgb(58, 100, 137);
    font-size: 20px;
=======
    color: white;
    background: linear-gradient(42deg, rgb(213, 156, 77), rgb(35, 81, 121), rgb(170, 124, 112));
    font-size: 22px;
>>>>>>> 53295f931a0e69eaa35589cc9c41ce7f6de13118
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    margin: 34px;
    transition: 0.5s;
}

<<<<<<< HEAD
nav .nav-button:disabled {
    background-color: rgb(58, 100, 137);
    color: rgb(231, 205, 163);
=======
nav .nav-button:hover {
    background-color: rgb(181, 180, 180);
    color: white;
    transform: scale(1.2);
>>>>>>> 53295f931a0e69eaa35589cc9c41ce7f6de13118
}

nav .logo-container {
    width: 170px;
    margin: 15px;
}

nav .logo-container .logo {
    width: 100%;
}

/*-------- Home page --------*/

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('https://cdn.pixabay.com/photo/2017/07/31/23/50/people-2562102_1280.jpg')
}

.home {
    margin-top: 30vh;
}

/*-------- Auth Modal --------*/
.auth-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color: rgb(231, 205, 163);
    border-radius: 10px;
    padding: 40px;
}

.auth-modal .close-icon {
    float: right;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}

/*-------- OnBoarding Page --------*/
.onboarding {
    border-top: solid 1px rgb(201, 162, 153);
}

.onboarding form {
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(58, 100, 137);
    border-radius: 10px;
}

.onboarding form label {
    margin: 10px 0;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(201, 162, 153);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form input[type=radio] {
    display: none;
}

.onboarding form input[type=number] {
    width: 10%;
}

.onboarding form input[type=radio]:checked + label {
    border: solid 2px rgb(58, 100, 137);
}

.onboarding form input[type=submit]:hover {
    background-color: rgb(231, 205, 163);
}

.onboarding form input[type=submit]:active {
    background-color: rgb(201, 162, 153);
}

.onboarding form .photo-container img {
    width: 100%
}

/*-------- Dashboard  --------*/
.dashboard {
    display: flex;
    justify-content: space-between;
}

.dashboard .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe {
    position: absolute;
}

.dashboard .card-container {
    width: 400px;
    height: 650px;
}

.card {
    width: 400px;
    height: 650px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.card h3 {
    margin-top: 0;
}

.dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

/*-------- Chat Container --------*/
.chat-container {
    background-color: rgb(58, 100, 137);
    box-shadow: rgb(201, 162, 153) 0px 6px 24px 0px,
    rgb(231, 205, 163) 0px 0px 0px 1px;
    width: 30%;
    text-align: left;
    z-index: 1;
}

.chat-container .chat-container-header {
    background: linear-gradient(45deg, rgb(231, 205, 163), rgb(58, 100, 137));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-container .option {
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 4px rgb(58, 100, 137);
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}

.chat-container .option:disabled {
    border-bottom: solid 4px rgb(231, 205, 163);
}

.chat-container .profile,
.chat-container .log-out-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(58, 100, 137);
}

.img-container {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.img-container img {
    width: 100%;
}

/*-------- Chat Display --------*/
.chat-display,
.matches-display {
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
}

/*-------- Chat Input --------*/
.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;
}















































